@using time_tracker.Models
@model UserModel;
@{
    ViewData["Title"] = "Track Time Like John Conner Wished His Mom Did";
}

<div>
    <h1>
        User: @Model.FirstName;
    </h1>
    <br/>
    <h6>
        LOADING......SKYNET......
    </h6>

    <H4>
        kk for real <br/>
        <br/>
        <a asp-controller="TimeTrackerHome">LOG YOUR TIME OR FACE THE CONSEQUENSE</a>
    </H4>
</div>