@{
    ViewData["Title"] = "TimeTracker!!";
}

<div>
    <h1>
        Time Tracker!!
    </h1>
    <h5>
        user login protection stuff here, also apparently if you say DO at the beginning it makes text into a thing
        <br/>
        REDIRECT TO CREATE USER SORRY YELLLING!!
        <br/>
        #protectyourroutes
    </h5>
    <a asp-controller="TimeTrackerHome" asp-action="TimeEntry" >Enter Your Time Here</a>
</div>

