@{
    ViewData["Title"] = "TodaysTime";
}

<div class="tracker-home">
    <h3>Start Time</h3>
    <input type="time" name="begining_time" title="Start Time" class="time_input" >
    <h3>End Time</h3>
    <input type="time" name="end_time" title="End Time" class="time_input" >
</div>